*.html
Informe_semanal_v2/main/_build/.doctrees/environment.pickle

Informe_semanal_v2/main/_build/.doctrees/environment.pickle
Informe_semanal_v2/main/_build/.doctrees/environment.pickle
Informe_semanal_v2/main/_build/.doctrees/environment.pickle
Informe_semanal_v2/main/_build/html/intro.html
Informe_semanal_v2/main/_build/html/intro.html
*.ipynb
*.pickle
Informe_semanal_v2/main/_build/.doctrees/environment.pickle
Informe_semanal_v2/main/_build/html/intro.html
